:root {
  --cor1: #b34a00;
  --cor2: #ff9f4f;
  --cor3: #ff6c00;
  --cor4: #00a3b3;
  --cor5: #00eaff;
}

/***********************************
        COMMON
***********************************/

button,
a:visited {
  color: white;
}

::placeholder {
  color: #00a4b3af;
}

/***********************************
        HEADER
***********************************/

#header {
  background: url(../img/sp.jpg) no-repeat;
  background-size: cover;
  min-height: 39vh;
  display: flex;
  flex-direction: column;
  color: white;
}

#header .header-nav {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}

#header .language-div {
  position: relative;
}

#header #language-menu li #pt {
  color: black;
}

#header .language-div #icon-language {
  width: 1.8rem;
}

#header .language-div #language {
  background-color: transparent;
  border-color: transparent;
}

#header .header-nav #title {
  width: fit-content;
  text-transform: uppercase;
  margin-top: 3rem;
}

#header .header-nav #title h1 {
  font-size: 1.5rem;
}

#header .header-nav #sp {
  display: block;
  font-weight: 700;
  padding-top: 1rem;
  font-size: 6rem;
}

#header .header-nav .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header .header-nav .nav ul li a {
  color: white;
  padding: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

#header .header-nav .nav ul li a:hover {
  color: var(--cor5);
  border-radius: 5px;
  text-shadow: 2px 2px 1px #00a4b38a;
}

/***********************************
        MAIN
***********************************/

#main {
  padding: 0 10em;
}

#main .p-3 {
  font-size: 1.2em;
  color: var(--cor4);
}

#main .p-3 p span {
  font-weight: 500;
}

#main .row form .form-line input,
button {
  border-radius: 5px;
  border-color: var(--cor4);
  box-shadow: 3px 3px 5px #00000065;
  max-width: 100%;
}

#main .row form .form-line {
  margin: 2rem 0;
}

#main .row form .form-line {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: var(--cor4);
  font-weight: 700;
}

#main .row .col-6 {
  margin: 0 auto;
}

#main .row .col-6 .card {
  font-weight: 600;
  margin: 15px auto;
  max-width: 250px;
  background-color: var(--cor1);
  color: white;
  transition: all 150ms;
}

#main .row .col-6 .card:hover {
  color: var(--cor1);
  background-color: var(--cor2);
}

#main h2 {
  font-size: 1rem;
}

#main .col-3 {
  max-width: 350px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  #main {
    padding: 10px;
  }

  #main .row .col-6 .card {
    margin: 5px auto;
    max-width: 250px;
  }
}

@media only screen and (max-width: 980px) {
  #header .header-nav #title h1 #sp {
    font-size: 4rem;
  }

  #main {
    text-align: center;
  }

  #main .principal {
    display: inline-block;
    text-align: center;
  }

  #main .principal .col-6,
  #main .principal .col-3 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  #main .principal .col-3 form .form-line {
    text-align: center;
  }

  #main .principal .col-6 .row .col-sm-6 {
    flex-direction: column;
  }
}


