:root {
  --cor1: #B34A00;
  --cor2: #FF9F4F;
  --cor3: #FF6C00;
  --cor4: #00A3B3;
  --cor5: #00EAFF;
}

/***********************************
        COMMON
***********************************/

header,
button,
a:visited {
  color: white;
}

/***********************************
        HEADER
***********************************/

#header {
  background: url(../img/sp.jpg)  no-repeat ;
  background-size: cover;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
}

#header .header-nav {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#header .language-div {
  position: relative;
}

#header .language-div #icon-language {
  width: 1.8rem;
}

#header .language-div #language {
  background-color: transparent;
  border-color: transparent
}

#header .container #title {
  width:fit-content;
  text-transform: uppercase;
  margin-top: 3rem;
}

#header .container #sp {
  display: block;
}

#header .container .nav {
  display: flex;
  justify-content: space-evenly
}

#header .container .nav ul li a {
  padding: 0.5rem ;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

#header .container .nav ul li a:hover
 {
  border-bottom: 1px solid white;
  color: black;
  background-color: rgba(255, 255, 255, 0.384)
}
