:root {
  --cor1: #b34a00;
  --cor2: #ff9f4f;
  --cor3: #ff6c00;
  --cor4: #00a3b3;
  --cor5: #00eaff;
}

/***********************************
        COMMON
***********************************/

button,
a:visited {
  color: white;
}

::placeholder {
  color: black;
  font-size: 0.9rem;
}

/***********************************
        HEADER
***********************************/

#header {
  background: url(../img/sp.jpg) no-repeat;
  background-size: cover;
  min-height: 39vh;
  display: flex;
  flex-direction: column;
  color: white;
}

#header #language-menu li #pt {
  color: black;
}

#header .language-div #icon-language {
  width: 1.8rem;
}

#header .language-div #language {
  background-color: transparent;
  border-color: transparent;
}

#header .language-login,
#header .language-login .login {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

#header .language-login .login .logo {
  max-height: 100px;
  padding-right: 10px;
  margin-right: 20px;
}

#header .language-login .login a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

#header .language-login .login a:hover {
  text-decoration: underline;
  color: var(--cor5);
}

#header .header-nav {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
}

#header .header-nav #title {
  width: fit-content;
  text-transform: uppercase;
  margin-top: 3rem;
}

#header .header-nav #title h1 {
  font-size: 1.5rem;
}

#header .header-nav #title h1 span:first-of-type {
  color: #ff9f4f;
}

#header .header-nav #sp {
  display: block;
  font-weight: 700;
  padding-top: 1rem;
  font-size: 6rem;
}

#header .header-nav .nav ul li a {
  color: white;
  padding: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;  
}

#header .header-nav .nav ul li a:hover {
  color: var(--cor5);
  border-radius: 5px;
  text-shadow: 2px 2px 1px #00a4b38a;
}

/***********************************
        MAIN
***********************************/

#main {
  padding: 0 10em;
  background-image: linear-gradient(rgb(29, 29, 29) 15%, var(--cor4) 100%);
}

#main .p-3 {
  color: rgb(173, 173, 173);
}

#main .p-3 p .separator {
  color: var(--cor4);
}

#main .p-3 p {
  font-weight: 100;
}

#main .p-3 p span {
  font-weight: 400;
}

#main .row form .form-line {
  margin: 2rem 0;
  font-size: 1.2rem;
  color: var(--cor5);
  font-weight: 100;
  display: flex;
  flex-direction: column;
}

#main .row form .form-line input,
button {
  border-radius: 5px;
  box-shadow: 3px 3px 5px #00000065;
  max-width: 250px;
}

#main .row form .form-btn {
  max-width: 250px;
}

#main .row form .form-line:nth-of-type(1),
#main .row form .form-line:nth-of-type(2){
  text-align: left;
}

#main .row form .form-line:last-of-type {
  display: flex;
  justify-content: space-between;
}

#main .row form .form-btn .btn:first-of-type {
  background-color: #00a4b393;
}

#main .row form .form-btn .btn:nth-of-type(2) {
  background-color: #ff9f4f;
  color: black;
  font-weight: 500;
}

#main .row .col-6 .card {
  margin: 15px auto;
  max-width: 250px;
  background-color: transparent;
  color: #00eaff;
  transition: all 500ms;
  border-color: transparent;
}

#main .row .col-6 .card:hover {
  color: rgb(255, 255, 255);
  background-color: #00eaff73;
}

#main h2 {
  font-size: 1rem;
  font-weight: 400;
}

#main .col-3 .card {
  background-color: #ffffff96 ;
}

#main .col-3 p {
  line-height: 2rem;
}

#main .col-3 p::first-letter {
  font-weight: bold;
  font-size: large;
}

@media only screen and (max-width: 1290px) {
  #main {
    padding: 10px;
  }

  #main .row .col-6 .card {
    margin: 5px auto;
    max-width: 250px;
  }
}

@media only screen and (max-width: 980px) {
  #header .header-nav #title h1 #sp {
    font-size: 4rem;
  }

  #header .language-login .login {
    display: inline-block;
  }

  #main {
    text-align: center;
  }

  #main .principal {
    display: inline-block;
  }

  #main .principal .col-6 {
    width: 100%;
  }

  #main .principal .col-3 {
    width: fit-content;
  }

  #main .principal .col-3 {
    margin: 0 auto;
  }

  #main .principal form {
    text-align: center;
  }

  #main .row form .form-line {
    flex-direction: row;   
  }
  #main .row form .form-line input {
    max-width: 200px;
  }

  #main .principal .col-6 .row .col-sm-6 {
    flex-direction: column;
  }
}


